.menu-item {
    min-width: 300px;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    margin: 0 7.5px 15px;
    background-position: center;
    background-size: cover;

    &.large {
      width: 480px;
    }

    &:hover {
      cursor: pointer;
    }
    
    .content {
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      background-color: white;
      opacity: .8;
  
      .title {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 6px;
        font-size: 22px;
        color: #4a4a4a;
        text-transform: uppercase;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }