.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    @media screen and (max-width: 800px) {
        padding-bottom: 50px;
    }

    .title {
        padding: 5px 0;
        @media screen and (max-width: 800px) {
            text-align: center;
        }
    }
}