.previewCard {
    border: 2px solid black;
    width: 200px;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;;
}

.previewContent {
    display: flex;
    flex-direction: column;
    height: 80%;
    text-align: center;
    padding: 5px;
}

p {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

button {
    margin: 140px auto;
    border: none;
    cursor: pointer;
    padding: 1rem;
    width: 100px;

    &:hover {
        background-color: black;
        color: white;
    }
}

